body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0 0 0 0 ;
  font-family: 'Kaisei Opti', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Serif', serif;
font-family: 'Roboto Slab', serif;

}

p{
  font-family: poppins;
}


.body-conteiner{
  display: flex;
}

.conteiner-info{
  width:100%;
  padding:10px 30px;
  display:grid;
}

.section-container{
  height:100vh;
  width: 95%;
}

.notification{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items:center
}
.inicio-conteiner{
  width:122px;
  height:30px;
  gap:20px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;

} 
.notificacion-campana{
  cursor: pointer;
}